.card {
    padding: 0;
    margin-top: 40px;
}

.box {
    width: 100%;
    height: auto;
    overflow: auto;
    border: 1px solid lightgray;
}

.wordsList {
    padding: 0;
    margin-top: 40px;
    height: 380px;
    overflow: scroll;
    text-align: center;
}

.autocompletion-text {
    color: lightgray;
}

[contenteditable] {
    padding: 12px;
}

[data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: #888;
    font-style: normal;
}
